
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @account.user_first_name %>
      <h1>Welcome to lendmyauto.com, <%= @account.user_first_name %></h1>
    <% else %>
      <h1>Welcome to lendmyauto.com, <%= @user.email %></h1>
    <% end %>
    <p>
      You have successfully signed up to lendmyauto.com. Find the perfect vehicle to rent or get started making extra money by lending your vehicle.
    <br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
