$skinny-font: 'Barlow Semi Condensed', sans-serif;
// $primary-light: #fafcfb;
// $primary-dark: #173042;
// $secondary-light: #c7dcAd;
// $secondary-dark: #367182;
// $standout-color: #7ac122;


$primary-light: #DBE9EE;
$primary-dark: #166088;
$secondary-light: #48ACF0;
$secondary-dark: #000000;
$standout-color: #48BF84;;
