@import "mixins/angle-mixin.scss";

.section-hero {
  background-image: asset_url("bg5.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 100%;
  text-align: center;
  color: white;
  h1 {
    padding: .3em auto;
    font-size: 4em;
  }
  h3 {
    font-size: 3em;
  }
}

.inline-date {
  display: inline-flex;
}

.benefits-grid {
  display: grid;
  grid-gap: 3em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
}

.section-benefits {
  @include angle(after);
  text-align: center;
  color: $primary-dark;
  padding: 3em 0;
  background: $primary-light;
  margin: 0 0 5em 0;
  h2 {
    padding: 1em 0 0 0;
  }
}
.benefits-header {
  margin: 1em
}

.learn-block {
  padding: 5em 0;
  text-align: center;
}
.section-learn {
  margin: 8em auto;
  color: $primary-light;
  img {
    border: 4px solid $primary-light;
  }
  button {
    margin: 1em 0;
    color: $primary-light;
    background-color: $secondary-light;
  }
}

.section-popular-cars {
  padding: 5em auto;
  @include angle(before);
  background: $primary-light;
}


.search-bar {
  margin: 2em auto;
  label {
    padding: 0 1em;
  }
}

.section-title {
  padding: 10em 0;
  text-align: center;
  background: $primary-light;
  color: $primary-dark;
  @include angle(both)
}

.responsive-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
// Popular cars styles
.popular-car-image {
  padding: 1em;
  height: 300px;
}
.popular-car {
  padding: 0 1em;
  border: 1px solid black;
}

.popular-car-details {
  li {
    display: inline-block;
  }
}
