@import "mixins/angle-mixin.scss";

.section-hero {
  background-image: asset_url("bg5.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 100%;
  text-align: center;
  h1 {
    padding: .3em auto;
    font-size: 4em;
  }
  h3 {
    font-size: 3em;
  }
}

.inline-date {
  display: inline-flex;
}

.benefits-grid {
  display: grid;
  grid-gap: 3em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
}

.section-benefits {
  @include angle(after);
  text-align: center;
  color: $primary-dark;
  padding: 3em 0;
  background: $primary-light;
  margin: 0 0 5em 0;
  h2 {
    padding: 1em 0 0 0;
  }
}
.benefits-header {
  margin: 1em
}



.search-bar {
  margin: 2em auto;
  label {
    padding: 0 1em;
  }
}
