.features div {
  padding: 1em;
  label {
    padding: .5em;
  }
}

.vehicle_images_avatar input {
  margin-left: 1em;
}

.vehicles-list {
  padding: 4em;
}

#new-vehicle-form {
  margin: 1em auto 10em auto;
  .btn {
    margin: 1em auto;
  }
}
