

<section class="vehicles-list">
  <div class="container">
    <div class="errors">
      <%= render 'layouts/errors', object: @search if @search %>
    </div>
    <div class="search-bar">
      <%= render "pages/search_bar" %>
    </div>
    <div id="vehicle-list">
      <%= render "vehicle_list" %>
    </div>
  </div>
</section>
