@import "bootstrap";
@import "base/standards.scss";
@import "styles/pages.scss";
@import "styles/vehicles.scss";
@import "styles/devise.scss";
@import "styles/accounts.scss";
@import "styles/reservations.scss";



body,html  {
  background-color: $primary-dark;
  color: $secondary-light;
  font-family: $skinny-font;
}
.btn {
  color: $secondary-light;
  border: 1px solid $secondary-light;
  background-color: rgba(0, 0, 0, 0);
}
.btn:hover {
  background-color: $standout-color;
  color: $primary-dark;
}
.navbar {
  background-color: $primary-dark;

  a {
    color: $primary-light;
  }
}
hr {
  background-color: $secondary-light;
}
