
<% @account.addresses.each do |address| %>
  <p><strong>Street:</strong> <%= address.street %> </p>
  <p><strong>City:</strong> <%= address.city %> </p>
  <p><strong>State:</strong> <%= address.state %> </p>
  <p><strong>Zip Code</strong> <%= address.zip_code %> </p>
<% end %>
