<div class="container">
  <% if @account.user_first_name %>
    Edit Your Profile Details
  <% else %>
    Please Enter Your Profile Details
  <% end %>
  <%= render "details_form" %>
  <br>
  <%= link_to "Add Profile Image", new_account_image_path(@account) %>
</div>
