<section>
  <div class="container">
    <h1> Profile </h1>
    <%= link_to "Edit Password", edit_user_registration_path(@user) %>
    <br>
    <%= link_to "Edit Profile Details", edit_account_path(@account) %>
    <br>
    <%= link_to "List Your Vehicle", new_location_path() %>


    <hr>
    <h3>Your Vehicles</h3>
    <% if @account.owned_vehicles %>

    <% end %>
    <hr>

  </div>
</section>
